<table class="index sortable" data-sortable-link="<%= spree.update_positions_admin_product_assemblies_parts_path(@product) %>">
  <thead>
  	<tr>
      <th></th>
  	  <th><%= t('spree.sku') %></th>
      <th><%= t('spree.name') %></th>
      <th><%= t('spree.available_on') %></th>
  		<th><%= t('spree.options') %></th>
  		<th><%= t('spree.qty') %></th>
      <th class="actions"></th>
  	</tr>
  </thead>

  <tbody>
    <% assembly_parts.each do |assembly_part| %>
      <% part = assembly_part.part %>

      <tr id="<%= dom_id(assembly_part, :sel)%>">
        <td><span class="handle"></span></td>
        <td><%= part.sku %></td>
        <td><%= part.product.name %></td>
        <td><%= part.product.available_on %></td>
        <td><%= part.options_text %></td>
        <td><%= text_field_tag :count, assembly_part.count %></td>
  	    <td class="actions">
          <%= link_to_with_icon(
            'save',
            t('spree.actions.save'),
            set_count_admin_product_part_url(@product, part),
            no_text: true,
            class: "set_count_admin_product_part_link save-line-item") %>

          <%= link_to_with_icon(
            'trash',
            t('spree.actions.delete'),
            remove_admin_product_part_url(@product, part),
            no_text: true,
            class: "remove_admin_product_part_link delete-line-item") %>
        </td>
      </tr>
    <% end %>

    <% if assembly_parts.empty? %>
      <tr><td colspan="5"><%= t('spree.none') %>.</td></tr>
    <% end %>
  </tbody>
</table>

<%= javascript_tag("subscribe_product_part_links();") if request.xhr? %>
