<%= render 'spree/admin/shared/product_tabs', current: "Parts"  %>

<fieldset>
  <legend align="center"><%= t('spree.parts') %></legend>

  <div id="product_parts">
    <%= render 'parts_table', parts: @parts %>
  </div>
</fieldset>

<div id="table-filter" data-hook>
  <fieldset>
    <legend align="center"><%= t('solidus_product_assembly.add_parts') %></legend>

    <form action="#">
      <div class="row" data-hook="admin_products_index_search" >
        <div class="col-12">
          <div class="field">
            <label><%= t('spree.name') %>/<%= t('spree.sku') %></label>
            <input type="text" id="searchtext">
          </div>
        </div>
      </div>

      <div class="actions filter-actions" data-hook="admin_products_index_search_buttons">
        <%= button_tag t('spree.search'), class: 'btn btn-primary', id: 'search_parts_button' %>
      </div>
    </form>
  </fieldset>
</div>

<div id="search_hits"></div>

<%= javascript_tag do %>
  /*!
   * Spree Product Assembly
   * https://github.com/spree/spree-product-assembly
   *
   */

  function search_for_parts(){
    $.ajax({
     data: {q: $("#searchtext").val() },
     dataType: 'html',
     success: function(request){
       jQuery('#search_hits').html(request);
       $('#search_hits').show();
     },
     type: 'POST',
     url: '<%= available_admin_product_parts_url(@product) %>'
    });
  }

  $("#searchtext").keypress(function (e) {
    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
      search_for_parts();
      return false;
    } else {
       return true;
    }
  });

  $("#search_parts_button").click(function(e) {
    e.preventDefault();
    search_for_parts();
  });

  function subscribe_product_part_links()
  {
    $("a.set_count_admin_product_part_link").click(function(){
      params = { count :  $("input", $(this).parent().parent()).val() };
      return make_post_request($(this), params);
    });

    $("a.remove_admin_product_part_link").click(function(){
      return make_post_request($(this), {});
    });
  }

  function make_post_request(link, post_params)
  {
    $.post(link.attr("href"), post_params, "script");
    return false;
  }

  subscribe_product_part_links();
<% end -%>
